*.aiff
*.dat
*.png
*.wav
.deps
.dirstamp
.libs
Cfg/compile
Cfg/config.guess
Cfg/config.sub
Cfg/depcomp
Cfg/install-sh
Cfg/ltmain.sh
Cfg/missing
M4/libtool.m4
M4/ltoptions.m4
M4/ltsugar.m4
M4/ltversion.m4
M4/lt~obsolete.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/sndfile-*
config.log
config.status
configure
configure.lineno
libtool
ltmain.sh
run-test.sh
sndfile-tools-*.tar.gz
tests/*_test
tests/*_tests
src/config.h
src/config.h.in
src/fir_hilbert_coeffs.h
src/sndfile-generate-chirp
src/sndfile-jackplay
src/sndfile-mix-to-mono
src/sndfile-pitch-infer
src/stamp-h1
