*.aiff
*.dat
*.png
*.o
*.wav
.deps
.dirstamp
.libs
build-aux/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/sndfile-*
config.log
config.status
configure
configure.lineno
libtool
ltmain.sh
run-test.sh
sndfile-tools-*.tar.gz
sndfile-tools-*.tar.bz2
tests/*_test
tests/*_tests
src/config.h
src/config.h.in
src/fir_hilbert_coeffs.h
src/sndfile-generate-chirp
src/sndfile-jackplay
src/sndfile-mix-to-mono
src/sndfile-pitch-infer
src/stamp-h1
*.log
*.trs

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json

/*[Bb]uild*/

/.vscode/
/.vs/
/out/
